h3 {
    display: flex;
    align-items: center;

    a {
        display: flex;
        margin-right: 10px;
    }
}

h3 span {
    display: flex;
    flex: 1;
}

h3 span + span {
    justify-content: flex-end;
}