/* Master Styles */
@font-face {
	font-family: 'ApercuBlackPro';
	src: url('fonts/apercu-black-pro-web/apercu-black-pro.eot');
	src: url('fonts/apercu-black-pro-web/apercu-black-pro.eot?#iefix') format('embedded-opentype'),
		url('fonts/apercu-black-pro-web/apercu-black-pro.woff') format('woff'),
		url('fonts/apercu-black-pro-web/apercu-black-pro.woff2') format('woff2'),
		url('fonts/apercu-black-pro-web/apercu-black-pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ApercuProBold';
	src: url('fonts/apercu-bold-pro-web/apercu-bold-pro.eot');
	src: url('fonts/apercu-bold-pro-web/apercu-bold-pro.eot?#iefix') format('embedded-opentype'),
		url('fonts/apercu-bold-pro-web/apercu-bold-pro.woff') format('woff'),
		url('fonts/apercu-bold-pro-web/apercu-bold-pro.woff2') format('woff2'),
		url('fonts/apercu-bold-pro-web/apercu-bold-pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ApercuProMedium';
	src: url('fonts/apercu-medium-pro-web/apercu-medium-pro.eot');
	src: url('fonts/apercu-medium-pro-web/apercu-medium-pro.eot?#iefix') format('embedded-opentype'),
		url('fonts/apercu-medium-pro-web/apercu-medium-pro.woff') format('woff'),
		url('fonts/apercu-medium-pro-web/apercu-medium-pro.woff2') format('woff2'),
		url('fonts/apercu-medium-pro-web/apercu-medium-pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ApercuProRegular';
	src: url('fonts/apercu-regular-pro-web/apercu-regular-pro.eot');
	src: url('fonts/apercu-regular-pro-web/apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
		url('fonts/apercu-regular-pro-web/apercu-regular-pro.woff') format('woff'),
		url('fonts/apercu-regular-pro-web/apercu-regular-pro.woff2') format('woff2'),
		url('fonts/apercu-regular-pro-web/apercu-regular-pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ApercuProLight';
	src: url('fonts/apercu-light-pro-web/apercu-light-pro.eot');
	src: url('fonts/apercu-light-pro-web/apercu-light-pro.eot?#iefix') format('embedded-opentype'),
		url('fonts/apercu-light-pro-web/apercu-light-pro.woff') format('woff'),
		url('fonts/apercu-light-pro-web/apercu-light-pro.woff2') format('woff2'),
		url('fonts/apercu-light-pro-web/apercu-light-pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
